# Auto detect text files and perform LF normalization
* text=auto
.uasset filter=lfs diff=lfs merge=lfs -text
.umap filter=lfs diff=lfs merge=lfs -text
.db filter=lfs diff=lfs merge=lfs -text
.VC filter=lfs diff=lfs merge=lfs -text
.vs filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
.ipch filter=lfs diff=lfs merge=lfs -text
.pdb filter=lfs diff=lfs merge=lfs -text
.vcxproj filter=lfs diff=lfs merge=lfs -text
[2Git[[:space:]]LFS[[:space:]]initialized.
titou@Thi-Biscuit[[:space:]]MINGW64[[:space:]]~/Documents/GitHub/UE5/UE5_GD_Courses/UE5_GD_Courses[[:space:]](main)
$[[:space:]]git[[:space:]]push[[:space:]]--force
Enumerating[[:space:]]objects:[[:space:]]487,[[:space:]]done.
Counting[[:space:]]objects:[[:space:]]100%[[:space:]](487/487),[[:space:]]done.
Delta[[:space:]]compression[[:space:]]using[[:space:]]up[[:space:]]to[[:space:]]16[[:space:]]threads
Compressing[[:space:]]objects:[[:space:]]100%[[:space:]](465/465),[[:space:]]done.
error:[[:space:]]RPC[[:space:]]failed;[[:space:]]HTTP[[:space:]]500[[:space:]]curl[[:space:]]22[[:space:]]The[[:space:]]requested[[:space:]]URL[[:space:]]returned[[:space:]]error:[[:space:]]500
send-pack:[[:space:]]unexpected[[:space:]]disconnect[[:space:]]while[[:space:]]reading[[:space:]]sideband[[:space:]]packet
Writing[[:space:]]objects:[[:space:]]100%[[:space:]](481/481),[[:space:]]2.01[[:space:]]GiB[[:space:]]|[[:space:]]19.68[[:space:]]MiB/s,[[:space:]]done.
Total[[:space:]]481[[:space:]](delta[[:space:]]56),[[:space:]]reused[[:space:]]8[[:space:]](delta[[:space:]]0),[[:space:]]pack-reused[[:space:]]0[[:space:]](from[[:space:]]0)
fatal:[[:space:]]the[[:space:]]remote[[:space:]]end[[:space:]]hung[[:space:]]up[[:space:]]unexpectedly
Everything[[:space:]]up-to-date
titou@Thi-Biscuit[[:space:]]MINGW64[[:space:]]~/Documents/GitHub/UE5/UE5_GD_Courses/UE5_GD_Courses[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]].vcxproj
.vcxproj[[:space:]]already[[:space:]]supported
titou@Thi-Biscuit[[:space:]]MINGW64[[:space:]]~/Documents/GitHub/UE5/UE5_GD_Courses/UE5_GD_Courses[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]].vs
.vs[[:space:]]already[[:space:]]supported
titou@Thi-Biscuit[[:space:]]MINGW64[[:space:]]~/Documents/GitHub/UE5/UE5_GD_Courses/UE5_GD_Courses[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]] filter=lfs diff=lfs merge=lfs -text
CryptRaider/.vs/CryptRaider/v17/ipch/223f1dace98138f8.ipch filter=lfs diff=lfs merge=lfs -text
CryptRaider/.vs/CryptRaider/v17/ipch/3c96cba51cf8ff07.ipch filter=lfs diff=lfs merge=lfs -text
CryptRaider/.vs/CryptRaider/v17/ipch/6fc9c009715b159f.ipch filter=lfs diff=lfs merge=lfs -text
CryptRaider/Intermediate/ProjectFiles/CryptRaider.vcxproj filter=lfs diff=lfs merge=lfs -text
CryptRaider/Intermediate/ProjectFiles/UE5.vcxproj filter=lfs diff=lfs merge=lfs -text
OAssault/.vs/OAssault//v17/ipch/ filter=lfs diff=lfs merge=lfs -text
